node_modules/
.vscode/
.pnp.*
.env
.env.*
.git
.gitignore
dist
README.md
tests/
coverage/
*.swp
.editorconfig
sonar-project.properties

# Vitest
.vitest-result
biome.json
vitest.config.js
vitest.setup.js

# Docker
Dockerfile
.dockerignore

# Github
.github